.loading
  &__container
    border: 2px solid #d19703
    min-height: 200px
    height: 100%
.wrap
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.text
  color: #d19703
  display: inline-block
  margin-left: 5px

.bounceball
  position: relative
  display: inline-block
  height: 37px
  width: 15px
  &:before
    position: absolute
    content: ""
    display: block
    top: 0
    width: 15px
    height: 15px
    border-radius: 50%
    background-color: #d19703
    transform-origin: 50%
    animation: bounce 500ms alternate infinite ease

@keyframes bounce
  0%
    top: 30px
    height: 5px
    border-radius: 60px 60px 20px 20px
    transform: scaleX(2)

  35%
    height: 15px
    border-radius: 50%
    transform: scaleX(1)

  100%
    top: 0